/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
}

/* Main content styles */

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section#about {
    text-align: center;
}

section#portfolio li {
    margin-bottom: 2rem;
}

section#portfolio h3 {
    margin-bottom: 1rem;
}

section#portfolio p {
    margin-bottom: 1rem;
}

/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
